.squareEven {
    -fx-background-color: #fff6e4;
}

.squareOdd {
    -fx-background-color: #805858;
}

/*noinspection CssInvalidPseudoSelector*/
.squareEven:highlighted, .squareOdd:highlighted {
    -fx-effect: innershadow(gaussian, rgba(255, 255, 0, 0.5), 15, 0.8, 0, 0);
}